<nav class="navbar">
    <h2 class="logo">Sniper</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/blog/create">Create new</a></li>
    </ul>
</nav>