<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs')  %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="home content">
        <h1>Create New</h1>
        <p>This is New Blog Page</p>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>